// import poppins from google
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --primary: rgb(22, 21, 21);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app_cointainer{
    font-family: 'Poppins', sans-serif;
    // background: linear-gradient( var(--primary), rgb(9, 56, 103), rgb(2, 2, 32));
    background: rgb(1, 1, 21);
    color: white;
    min-height: 100vh;
    background-image: url('./assets/section1/main-bg-1_1.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel_section{
}

.carousel_img{
    border-top: 10px solid rgb(3, 3, 37);
    border-bottom: 10px solid rgb(3, 3, 37);
    border-radius: 50% 0 30% 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    animation: 20s sipcoin linear infinite alternate;
    transition: 10s;
}

@keyframes sipcoin{
    0%{
        border-radius: 30% 20% 30% 20%;
    }
    50%{
        border-radius: 20% 30% 20% 30%;
    }
    0%{
        border-radius: 30% 20% 30% 20%;
    }
}

.carousel_img img{
    transition: 10s;
    animation: 10s image_zoom linear infinite alternate;
}

@keyframes image_zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.4);
    }
}

.market_gap_widget{
    border: 1px solid white;
    border-bottom: none;
    padding: 20px;
    height: 200px;
    border-radius: 30px;
}